# Sysfs
type sysfs_veneer, sysfs_type, fs_type;
type sysfs_charger, sysfs_type, fs_type;
type sysfs_powersupply_wireless, sysfs_type, fs_type;
# IPsecd
type ipsecd_socket, file_type, coredomain_socket;
typeattribute ipsecd_socket mlstrustedobject;
# LG IMS Service
type ims_service, service_manager_type;
typeattribute ims_service app_api_service;
type lge_ims_phone_provider_exec, system_file_type, exec_type, file_type;
type lge_ims_phone_provider, domain;