system_public_prop(lge_ims_wo_prop)
system_public_prop(lge_ims_data_prop)
system_public_prop(lge_ims_sar_ratpreference_prop)
system_public_prop(lge_ims_iwlan_possible_prop)
system_public_prop(lge_wo_apntypes_prop)
system_public_prop(lge_iwlan_hosupport_prop)
system_public_prop(lge_iwlan_hosupport_roam_prop)
system_public_prop(lge_ims_reg_prop)
system_public_prop(lge_ims_calltype_prop)
system_public_prop(lge_aisound_prop)
vendor_public_prop(vendor_lge_misc_prop)
