allow system_app hal_dac_control_hwservice:hwservice_manager find;
binder_call(system_app, hal_dac_control_default);
get_prop(system_app, lge_aisound_prop)
set_prop(system_app, lge_aisound_prop)
