on boot
    chmod 0664 /sys/devices/virtual/input/lge_touch/reset_ctrl
    chown system system /sys/devices/virtual/input/lge_touch/reset_ctrl

service vendor.fingerprint-default /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.lge
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    shutdown critical
